<div class="container">
    <h2>{{title}}</h2>
    <ngx-carousel [inputs]="carouselTileOne" (carouselLoad)="carouselTileOneLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let product of carouselTileOneItems; let i = index;">
            <div class="wBg">
              <!-- // -->
              <app-product
                [product]="product"
                [editMode]= "false"
                ></app-product>
              <!-- // -->
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
</div>