<div class="container users">
    <h2 class="my-5">ADMIN PAGE</h2>
    <h2 class="my-5">All Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th class="text-danger">Deactivate</th>
            <th>User's Extensions</th>
            <th>  </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" [ngStyle]="{'background-color': isActive(user) ? '#ff9999' : 'LightGreen' }" >
            <td class="hidden">{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>
                <input 
                  type="checkbox" 
                  (change)="changeStatus($event, user)" 
                  [checked]="isActive(user)"
                  [ngStyle]="{'text-decoration': isActive(user) ? 'none' : 'line-through' }"
                  >
            </td>
            <td>
              <button class="btn btn-secondary"  (click)="findProductsOfUser(user)" (click)="lgModal.show()">View Extensions</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- MODAL -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Extensions</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-admin-extensions-per-user 
          ></app-admin-extensions-per-user>
          <!-- [user]="currentUser"   -->
      </div>
    </div>
  </div>
</div>
<!--//  MODAL -->