<div class="card border-success mb-3 product" style="max-width: 18rem;" (click)="productClicked(product)">
  <!-- Edit Button -->
  <div *ngIf="editMode" class="btn btn-secondary edit" 
    (click)="onEditClicked($event)"
    (click)="lgModal.show(template)">Update
  </div>
  <!-- Edit Button -->
  <div class="card-body text-success">
    <h5 class="card-title text-center product_name">{{product.name | slice: 0 : 12}} </h5>
    <div class="product_icon text-center my-3"><i [ngClass]="icon"></i></div>
    <div class="card-text mt-4 product_desc">{{product.description | slice: 0 : 20 }}...</div>
    
    <div class="row details">
      <div class="col-12 text-center">
        <span class="downloads mr-2"><i class="fa fa-download"></i></span>
        <span class="num_of_downloads">{{product.numberOfDownloads}}</span>
      </div> 
    </div>  
    <div class="row">
      <div class="col-12 text-center">
        <span class="username">{{product.owner.username}}</span> 
      </div> 
    </div>
  </div>
   <!-- Delete Button -->
   <div *ngIf="editMode" class="btn btn-danger" 
    (click)="onDeleteClicked($event)">Delete
   </div>
 <!--// Delete Button -->
</div>


<!-- MODAL -->
<!-- <ng-template #template> -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="text-center">Edit Extension</h4>
        <!-- <h4 id="dialog-sizes-name1" class="modal-title text-center">Edit Extension</h4> -->
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <!-- Product upload form -->
          <app-upload-product-form
            [product]="product"
            [filled]="true"
            (onFormSubmitted) = "lgModal.hide()"
          ></app-upload-product-form>
        <!-- //  Product upload form -->
      </div>
    </div>
  </div>
</div>
<!-- </ng-template> -->
<!--//  MODAL -->