<div class="container">
    <h3 class="text-center text-uppercase my-5">Create your account</h3>
    <!-- FORM -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row justify-content-center">
            <div class="form-group col-10 col-md-4">
                <input class="form-control" type="text" id="firstName" placeholder="First Name"  name="firstName">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-10 col-md-4">
                <input class="form-control" type="text" id="lastName" placeholder="Last Name"  name="lastName" >
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-10 col-md-4">
                <input class="form-control" type="text" id="username" placeholder="Username" name="userName">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-10 col-md-4">
                <input class="form-control" type="email" id="email" placeholder="Email"   name="email" >
                <small class="form-text text-muted">Your private data will never be shared to third parties</small>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-10 col-md-4">
                <input class="form-control" type="password" id="password" placeholder="Password" name="user.password">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-10 col-md-4">
                <input class="form-control" type="password" id="rep_password" placeholder="Repeat Password"  name="user.repPassword">
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-outline-success btn-lg mt-5" (click)="createUser()" type="button">
                    <i class="fa fa-user-plus mr-2"></i>Register
            </button>
        </div>
    </form>
    <!-- //  FORM -->
</div>