<section class="login-form">
    <div class="container">
        <h3 class="text-center text-uppercase my-5">Log in</h3>
         
        <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
              
            <div class="row justify-content-center">
              <div class="form-group offset-1 col-10 col-md-4">
                <input 
                  class="form-control" 
                  type="text" 
                  placeholder="Username"  
                  formControlName="username"
                  required 
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  <!-- error message -->
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                  <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters long</div>
                </div>  
                  <!-- // error message -->
              </div>
              <!-- validation icon -->
              <span class="col-1">
                <!-- <i *ngIf="f.username.valid" style="color: green" class="fa fa-check"></i> -->
                <i *ngIf="submitted && f.username.invalid" style="color: firebrick" class="fa fa-times-circle"></i>  
              </span>
              <!-- //  validation icon -->
            </div>

            <div class="row justify-content-center">
              <div class="form-group offset-1 col-10 col-md-4">
                <input 
                  class="form-control" 
                  type="password" 
                  placeholder="Password"  
                  formControlName="password"
                  required 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <!-- error message -->
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 3 characters long</div>
                </div>      
                  <!-- // error message -->
              </div>
              <!-- validation icon -->
              <span class="col-1">
                <!-- <i *ngIf="f.password.valid" style="color: green" class="fa fa-check"></i> -->
                <i *ngIf="submitted && f.password.invalid" style="color: firebrick" class="fa fa-times-circle"></i>  
              </span>
              <!-- //  validation icon -->
            </div>
             <!--  error message  after server check for credentials-->
            <div class="row justify-content-center">
              <div *ngIf="errorMessage" style="color: firebrick">{{errorMessage}}</div> 
            </div>
            <!-- //  error message  after server check for credentials-->
            <div class="row justify-content-center">
              <button 
                class="btn btn-outline-success btn-lg mt-5" 
                type="submit"
                [disabled]="loading">
                  <i class="fa fa-sign-in mr-2"></i>Log in 
              </button>
            </div>
              <!-- <div  class="row justify-content-center mt-4"> 
                <h6>Not a user yet ? </h6>
              </div> -->
              <div  class="row justify-content-center mt-3"> 
                <a [routerLink]="['/register']">Register account here</a>
              </div>
          </form>  
      <!-- //    FORM -->
    </div>
  </section>
