 <!-- <div id="contact" class="collapse"> -->
    <div class="card card-body bg-danger text-white py-5">
        <h2>Profile Details</h2>
        <p class="lead">View and edit your personal data</p>
      </div>
  
      <div class="card card-body py-5">
        <!-- <h3>Profile Details</h3>
        <p>View and edit profile details</p> -->
        
        <app-register
          [filled]= "true"
          [action]="'Update'"
        >
        </app-register>
        
      </div>
        <!-- <form>
          
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control bg-dark text-white" placeholder="First Name">
            </div>
          </div>
          
          <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-danger text-white">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control bg-dark text-white" placeholder="Last Name">
              </div>
          </div>
  
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input type="email" class="form-control bg-dark text-white" placeholder="Email">
            </div>
          </div>
  
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa fa-pencil-alt"></i>
                </span>
              </div>
              <textarea class="form-control bg-dark text-white" placeholder="Name"></textarea>
            </div>
          </div>
  
          <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
        </form> -->
     
    <!-- </div> -->
    <!-- </div> -->