<div class="container my-5">
    <header id="main-header">
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-5">
            <img src= "/src/app/assets/images/person1.jpg">
          </div>
          <div class="col-lg-8 col-md-7">
            <div class="d-flex flex-column">
              <div class="p-5 bg-dark text-white">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h1 class="display-4">{{currentUser.firstName}} {{currentUser.lastName}}</h1>
                  <div class="d-none d-md-block">
                    <a href="http://twitter.com" class="text-white">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>  
                  <div>
                    <a href="http://facebook.com" class="text-white">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </div>
                  <div>
                    <a href="http://instagram.com" class="text-white">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </div>
                  <div>
                    <a href="http://github.com" class="text-white">
                      <i class="fa fa-github"></i>
                    </a>
                  </div>
                </div>
              </div>
            <div class="p-4 bg-black">
                    Experienced Full Stack Web Developer
            </div>
                  <!-- <div class="col-4">
                        <div class="p-4 bg-black">
                              <i class="fa fa-home"></i>
                        </div>
                  </div> -->
              <!-- </div> -->
              
  
              <div>
                <div class="d-flex flex-row text-white align-items-stretch text-center">
                  <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#home">
                    <i class="fa fa-home fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Home</span>
                  </div>
                  <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#resume">
                    <i class="fa fa-graduation-cap fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Resume</span>
                  </div>
                  <div class="port-item p-4 bg-warning" data-toggle="collapse" data-target="#work">
                    <i class="fa fa-folder-open fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Work</span>
                  </div>
                  <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#contact">
                    <i class="fa fa-envelope fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Contact</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
</div>

  <!-- CONTACT -->
  <div class="container">
  <!-- <div id="contact" class="collapse"> -->
    <div class="card card-body bg-danger text-white py-5">
      <h2>Contact</h2>
      <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
    </div>

    <div class="card card-body py-5">
      <h3>Get In Touch</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quos illo, dicta id voluptates enim.</p>
      <form>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control bg-dark text-white" placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control bg-dark text-white" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fa fa-pencil-alt"></i>
              </span>
            </div>
            <textarea class="form-control bg-dark text-white" placeholder="Name"></textarea>
          </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
      </form>
    </div>
  </div>
  <!-- </div> -->

      <!-- OLD VERSION  -->
      <!-- <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-8 col-md-6">
                                    <h3 class="mb-0 text-truncated">{{currentUser.username}}</h3>
                                    <p class="lead">Web / UI Designer</p>
                                    <p>
                                        I love to read, hang out with friends, watch football, listen to music, and learn new things.
                                    </p>
                                    <p> <span class="badge badge-info tags">html5</span> 
                                        <span class="badge badge-info tags">css3</span>
                                        <span class="badge badge-info tags">nodejs</span>
                                    </p>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6 text-center">
                                    <img src="https://robohash.org/68.186.255.198.png" alt="" class="mx-auto rounded-circle img-fluid">
                                    <br>
                                    <ul class="list-inline ratings text-center" title="Ratings">
                                        <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><span class="fa fa-star"></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <h3 class="mb-0">20.7K</h3>
                                    <small>Followers</small>
                                    <button class="btn btn-block btn-outline-success"><span class="fa fa-plus-circle"></span> Follow</button>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <h3 class="mb-0">245</h3>
                                    <small>Following</small>
                                    <button class="btn btn-outline-info btn-block"><span class="fa fa-user"></span> View Profile</button>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <h3 class="mb-0">43</h3>
                                    <small>Snippets</small>
                                    <button type="button" class="btn btn-outline-primary btn-block"><span class="fa fa-gear"></span> Options</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        