<form [formGroup]= "searchForm" (ngSubmit)="onSubmit()">
  <div class="form-group row justify-content-center">
    <div class="col-sm-8">
      <div class="input-group">
        <input 
          class="form-control" 
          type="text" 
          placeholder="SEARCH EXTENSIONS" 
          formControlName="searched"
          id="validationCustomUsername" 
          aria-describedby="inputGroupPrepend"
          (keyup.enter)="onSearch($event)"
          [(ngModel)]="searchedValue"
          required
          >
        <button class="input-group-text btn btn-success bg-success" id="inputGroupPrepend">
          <i class="fa fa-search text-white"></i>
        </button>
        <!-- <div class="invalid-feedback">
          Not valid name ...
        </div> -->
      </div>
    </div>
  </div>
</form>
<div class="card card-body py-5">
    <div class="row">
      <div *ngFor="let product of products" class="col-4">
          <app-product
              [product]="product"
              [editMode]="false"
          ></app-product>
      </div>
    </div>
  </div>

<!-- MODAL -->

<!--// MODAL -->