<!-- TAG ADD -->
<h3 class="text-center mt-3 mb-2">Tags</h3>
<form>
  <div class="form-group">
    <input 
    type="text" 
    class="form-control" 
        name= "tagName"
        placeholder="Add new Tag"
        (keyup.enter)="onTagAdd($event)"
        [(ngModel)]="addTagValue"
        tooltip="Add tag name here"
        placement="right"
        [delay]="500">
  </div>
</form>
<!--// TAG ADD -->
<!-- TAG LIST -->
<div class="pill_section text-center">
    <div *ngFor="let tag of tags">
      <div class="badge badge-pill badge-info mx-2">
        <div class="row">
          <div class="col-6 text-left offset-2 mt-2"><span>{{tag.tagName}} </span></div>
          <span class="col-4 text-right">
            <span class="btn text-dark" (click)="onDelete(tag)" tooltip="Delete Tag" placement="right" [delay]="500">
              <i class="fa fa-times"></i>
            </span>
          </span>
        </div>
      </div>
    </div>
</div>
<!-- TAG LIST -->