<h1 class="text-center my-5"> Marketplace</h1>
<div class="container">
    <app-product-search></app-product-search>
</div>

<section class="main_section">
        
    <div class="subsection">
        <app-market-show-section
            [sortedBy]="new" 
            [carouselTitle]="'New Products'">
        </app-market-show-section>
    </div>
    <div class="subsection">
        <app-market-show-section
            [sortedBy]="popular" 
            [carouselTitle]="'Popular Products'">
        </app-market-show-section>
    </div>
    <div class="subsection">
        <app-market-show-section
            [sortedBy]="featured" 
            [carouselTitle]="'Featured Products'">
        </app-market-show-section>
    </div>

</section>