<h1 class="text-center my-5"> <i class="fa fa-cubes fa-1x mr-3"></i>X-market</h1>
<div class="container">
    <app-product-search></app-product-search>
</div>

<section class="main_section">
        
    <div class="subsection">
        <app-market-show-section
            [sortedBy]="'PublishedDate'" 
            [carouselTitle]="'New Extensions'">
        </app-market-show-section>
    </div>
    <div class="subsection">
        <app-market-show-section
            [sortedBy]="'Downloads'" 
            [carouselTitle]="'Popular Extensions'">
        </app-market-show-section>
    </div>
    <div class="subsection">
        <app-market-show-section
            [sortedBy]="'Name'" 
            [carouselTitle]="'Featured Extensions'">
        </app-market-show-section>
    </div>

</section>